<div class="row mt-3">
    <div class="col col-md-6">
        <h1 class="mb-3 d-flex justify-content-start">List of Pets</h1>
    </div>
    <div class="col col-md-6">
        <div class="d-flex justify-content-end mt-3 mb-3">
            <a class="btn btn-primary" href="/pets/add">Add New Pet</a>
        </div>
    </div>
</div>
<div class="row">
    {{#each petList}}
    <div class="col col-md-4">
        <div class="spacer pt-2 pb-2">
            <div class="content">
                <div class="card">
                    <img src="{{petImage}}" class="card-img-top" alt="{{petName}}">
                    <div class="card-body">
                        <h2 class="card-title text-center">{{petName}}</h2>
                    </div>
                    <div class="actions p-3">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                <a class="btn btn-primary" href="/pets/{{petId}}">View Details</a>
                            </li>
                            <li class="list-group-item">
                                 <a class="btn btn-warning" href="/pets/edit/{{petId}}">Edit Details</a>
                            </li>
                            <li class="list-group-item">
                                <form action="/pets/delete/{{petId}}" method="POST">
                                    <button type="submit" class="btn btn-danger">Delete Pet</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>