{{#with foundPet}}
<div class="row">
    <div class="col col-md-12">
        <h1 class="mb-3 text-center">{{petName}}</h1>
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <div class="spacer mb-3">
            <div class="details mx-auto">
                <div class="card">
                    <img src="{{petImage}}" class="img-fluid" alt="{{petName}}">
                    <div class="card-body">
                        <p class="card-text">{{description}}</p>
                    </div>
                    <div class="actions p-3">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                <a class="btn btn-primary" href="/pets/edit/{{petId}}">Edit Details</a>
                            </li>
                            <li class="list-group-item">
                                <form action="/pets/delete/{{petId}}" method="POST">
                                    <button type="submit" class="btn btn-danger">Delete Pet</button>
                                </form>
                            </li>
                            <li class="list-group-item">
                                <a href="/pets" class="btn btn-secondary">Go Back</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/with}}